---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -misc-non-private-member-variables-in-classes,
        -misc-no-recursion,
        -misc-use-anonymous-namespace,
        -misc-use-internal-linkage,
        -misc-include-cleaner,
        -misc-const-correctness,
        -misc-function-static,
        -functionStatic,
        -unused-command-line-argument,
        -cert-err58-cpp,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-prefer-member-initializer,
        -cppcoreguidelines-avoid-non-const-global-variables,
        -cppcoreguidelines-avoid-magic-numbers,
        -readability-*,
        -hicpp-*,
        -*old-style-cast,
        -clang-diagnostic-sign-conversion,
        -bugprone-unused-local-non-trivial-variable
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z'





